* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  top: 0;
  width: 90%;
  display: flex;
  padding: 0 5%;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: sticky;
  background-color: white;
}

header img {
  height: 100px;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  padding-left: 40px;
}

.toggle-button {
  position: absolute;
  top: 40px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #626262;
}
/* rgsdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem 2rem;
}

.title {
  background: #df7c09;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  padding: 1.5rem 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 10em;
  font-weight: 700;
}
.content {
  margin: 5rem 0 2rem 0;
  display: flex;
  width: 100%;
}
.content-desc {
  width: 70%;
  background: #df7c09;
  padding: 2rem 3em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content-desc h1 {
  color: #fff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.content-desc ul {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

button {
  border-radius: 15px;
  background: #43335e;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;

  text-align: center;

  width: 300px;
  height: 75px;
  font-size: 1.5rem;
  font-weight: 900;
}

button:hover {
  background: #8365bb;
}

footer {
  width: 90%;
  height: 100px;
  background: #626262;

  color: white;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  position: absolute;
  left: 5%;
}

@media screen and (max-width: 1100px) {
  .container {
    text-align: center;
  }
  .content-desc {
    margin: 0 auto;
    text-align: left;
  }
  .content {
    display: block;
    text-align: center;
    margin: 2rem 0 0 0;
  }
  footer {
    padding-top: 2%;
    display: block;
    text-align: center;
  }
  footer p {
    position: static;
    margin: 2% 0;
  }
}

@media screen and (max-width: 540px) {
  .toggle-button {
    display: flex;
  }
  nav {
    width: 100%;
  }
  nav ul li {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  nav {
    display: none;
  }
  nav.active {
    display: flex;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    width: 90%;
  }
  .content img {
    width: 80%;
  }
  .container {
    margin-top: 2rem;
    width: 100%;
    padding: 0;
  }
  .content-desc {
    padding: 2rem 2rem;
  }
  .join {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .content-desc h1 {
    font-size: 2rem;
  }
  .content-desc ul {
    font-size: 1rem;
  }
}
