* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  top: 0;
  width: 90%;
  display: flex;
  padding: 0 5%;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: sticky;
  background-color: white;
}

header img {
  height: 100px;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  padding-left: 40px;
}

.toggle-button {
  position: absolute;
  top: 40px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover {
  color: #626262;
}

.join:hover {
  background: #8365bb;
}
.main {
  background-image: url("./images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* dostosowuje obraz do wielkości kontenera */
  background-position: center center;

  width: 100%;
  max-height: 1200px;
  padding: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.main img {
  width: 100%;
  position: absolute;
  top: 100px;
}

.main-content {
  padding: 3rem 0;
  background: rgba(223, 124, 9, 0.35);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 50%;
  max-width: 50rem;
  height: 20rem;
  margin: auto;
  position: relative;
  color: white;
  text-align: center;
}
.main-content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.main-content h2 {
  font-size: 2rem;
}
.main-content button {
  border-radius: 15px;
  background: #43335e;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;

  text-align: center;
  margin: 10% 0;
  width: 300px;
  height: 75px;
  font-size: 1.5rem;
  font-weight: 900;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  text-align: center;
}

.container h1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 3rem 0 1.5rem 0;
}

.zalety {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 2rem;
}
.block {
  position: relative;
  width: 100%;
  /* background-image: url("./images/zdomu.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}

.block img {
  width: 100%;
  border-radius: 20px;
}

.block-desc {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 50%;
  text-align: left;
}

.block-desc h3 {
  color: #df7c09;
  font-size: 32px;
  text-shadow: 2px 2px #75450d;
}
.block-desc p {
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px #75450d;
}

.opinie {
  padding: 2rem 0;
  background: linear-gradient(180deg, #df7c09 0%, #753f00 100%);
}
.opinie .container h1 {
  color: white;
  font-weight: 900;
}

.opinie-content {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.opinie-content img {
  width: 100%;
}

.zarobki-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.zarobki-content img {
  width: 100%;
}

footer {
  width: 90%;
  height: 100px;
  background: #626262;

  color: white;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  position: absolute;
  left: 5%;
}

@media screen and (max-width: 940px) {
  .main-content {
    width: 70%;
    max-width: 50rem;
    height: 15rem;
  }
  .main-content h1 {
    font-size: 2.5rem;
  }
  .main-content h2 {
    font-size: 1.5rem;
  }
  .main-content button {
    margin: 5% 0;
  }

  .block-desc {
    width: 70%;
  }

  footer {
    padding-top: 2%;
    display: block;
    text-align: center;
  }
  footer p {
    position: static;
    margin: 2% 0;
  }
}

@media screen and (max-width: 780px) {
  .block-desc h3 {
    font-size: 1.5rem;
  }
  .block-desc p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .zalety {
    grid-template-columns: 1fr;
  }
  .block-desc h3 {
    font-size: 3rem;
  }
  .block-desc p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 540px) {
  .block-desc h3 {
    font-size: 2rem;
  }
  .block-desc p {
    font-size: 1.5rem;
  }
  .main-content {
    width: 70%;
    max-width: 50rem;
    height: 10rem;
  }
  .main-content h1 {
    font-size: 2rem;
  }
  .main-content h2 {
    font-size: 1rem;
  }
  .main-content button {
    width: 200px;
    height: 50px;
    font-size: 1rem;
  }
  .toggle-button {
    display: flex;
  }
  nav {
    width: 100%;
  }
  ul li {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  nav {
    display: none;
  }
  nav.active {
    display: flex;
  }
  ul {
    flex-direction: column;
    width: 100%;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 440px) {
  .block-desc h3 {
    font-size: 1.7rem;
  }
  .block-desc p {
    font-size: 1.2rem;
  }
}
